:root {
    --primary-color: #EE4D2D;  /*mã màu chính*/
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

*{ /*apply phần tử css*/
    box-sizing: inherit; /* kế thừa từ thẻ chứa nó*/
}

html {
    /*HACK*/
    font-size: 62.5%;
    /* linehight: độ cao */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif; /*sans-serif: chữ không chân*/
    box-sizing: border-box;
    /*reponsive: tương thích hiển thị*/
}

.grid {
    width: 1200px;
    max-width: 100%; /*giảm kích thước nhỏ hơn 1200px*/
    margin: 0 auto;
}

.grid__full-width {
    /**/  
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap; /*những thẻ nằm trong class nằm cùng trong 1 hàng ngang, và bị nhảy xuống khi quá nhiều*/
}

/* p {
    font-size: 1.6rem; 1rem=16px
} */

/* Animatiton */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} /*hiệu ứng hiện dần*/

/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute; /*con modal*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1; /*nằm trên,nằm dưới theo giá trị*/
    border-radius: 5px;
}

/* button style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    /* display: flex;
    align-items: center; */
}

.btn.btn--primary { /*1 element có 2 class*/
    color: var(--white-color);
    background-color: var(--primary-color);
}