.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d); /*tạo dải màu chuyển đều đặn*/
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none; /*mất dấu chấm đầu dòng*/
    padding-left: 0;
    margin-top: 4px ;
}

.header__navbar-item { /*thẻ li*/
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block; /*giữ lại tính chất khối và nằm ngang trên cùng một hàng*/
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none; /*bỏ gạch chân*/
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    /*căn chữ "kết nối ra giữa thẳng với icon"*/
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover, /*mờ chữ đi*/
.header__navbar-item-link:hover {
    cursor: pointer; /*con trỏ chuột*/
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color); /*phủ màu trắng 2 icons*/
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px; /*đẩy cách xa icon*/
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* header QR code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute; /*tuyệt đối*/
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
}

 .header__qr-img {
     width: 100%;
 }

 .header__qr-apps {
    display: flex; /*2 ảnh google và store ngang nhau*/
 }

 .header__qr-download-img {
    height: 16px;
 }
