.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d); /*tạo dải màu chuyển đều đặn*/
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none; /*mất dấu chấm đầu dòng*/
    padding-left: 0;
    margin-top: 4px ;
}

.header__navbar-item { /*thẻ li*/
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}


.header__navbar-item--has-qr:hover .header__qr {
    /* header__qr: là con của class đứng trước sau . */
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block; /*giữ lại tính chất khối và nằm ngang trên cùng một hàng*/
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none; /*bỏ gạch chân*/
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    /*căn chữ "kết nối ra giữa thẳng với icon"*/
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover, /*mờ chữ đi*/
.header__navbar-item-link:hover {
    cursor: pointer; /*con trỏ chuột*/
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color); /*phủ màu trắng 2 icons*/
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px; /*đẩy cách xa icon*/
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* header QR code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute; /*tuyệt đối*/
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s; /*chuyển động từ từ*/
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

 .header__qr-img {
     width: 100%;

 }

 .header__qr-apps {
    display: flex; /*2 ảnh google và store ngang nhau*/
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

 .header__qr-download-img {
    height: 16px;
 }

 /* header notification */

 .header__notify {
    position: absolute;
    top: 118%;
    right: 0%;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default; /*bỏ bàn tay ở thông báo mới nhận*/
    transform-origin: calc(100% - 20px) top; /*tâm rộng ra và dịch chuyển*/
    animation: headerNotifyGrowth ease-in 0.3s;    
    will-change: opacity, transform; /*sẽ tối ưu chuyển động*/
    display: none;
}

.header__notify::before {
    content: ""; /*element*/
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0%;
    top: -16px;
    width: 90px;
    height: 20px;
    /* background-color: red; */
}

 @keyframes headerNotifyGrowth {
     from {
         opacity: 0; /*mờ dần và hiện lên*/
         transform: scale(0); /*phóng to thu nhỏ*/
     }
     to {
         opacity: 1;
         transform: scale(1);
     }
 }

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px; /*trên dưới trái phải*/
    font-weight: 400; 
    font-size: 1.4rem;
    line-height: 40px;
    /* cursor: text;con trỏ chuột dạng text */
    user-select: none; /*ko cho ngườI dùng copy*/
    
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex; 
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
}

.header__notify-img {
    width: 48px;
    height: 35px;
    object-fit: contain;

}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    /* text-align: center; căn giữa */
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0px;
    width: 100%;
    /* margin: auto; */
    font-size: 1.4rem;
    font-weight: 400;/*tăng độ đậm chữ đã xem*/
    text-align: center;
}

/* authen modal */

.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px; /*khoảng cách tới mép*/
}

.auth-form__header {
    display: flex;
    align-items: center; /*ngang nhau*/
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;/*chữ đậm*/
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

/* .auth-form__form {
    
} */

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px; /*khoảng cách giữa các thẻ input*/
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none; /*bỏ outline khi click chuột vào*/
}

.auth-form__input:focus { /**/
border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;/*độ cao chữ*/
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}


